﻿@model Repo.Models.State
@{
    ViewBag.Title = "Create";
}

<div class="container">
    <div class="row header">
        <h1>State</h1>
        <h3>Create a state</h3>
    </div>
    <div class="row body">
        @using (Html.BeginForm("Create", "State", FormMethod.Post))
        {
            <div class="ui grid center aligned">
                <div class="two wide column">@Html.LabelFor(m => m.Name, "State")</div>
                <div class="twelve wide column">@Html.TextBoxFor(m => m.Name)</div>
            </div>
            <div class="ui grid center aligned">
                <div class="two wide column">@Html.LabelFor(m => m.Country_Id, "Country")</div>
                <div class="twelve wide column">@Html.DropDownListFor(m => m.Country_Id, ViewBag.CountryList as SelectList,new { @class= "ui search dropdown" })</div>
            </div>
            <div class="ui grid left aligned">
                <input type="submit" class="ui fluid large brown inverted button" value="Submit" />
            </div>
        }
    </div>
</div>