﻿@model IEnumerable<Repo.Models.State>
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row header">
        <h1>State</h1>
        <h3>List of states in database</h3>
    </div>
    <div class="row body">
        @foreach (var item in Model)
        {
            <div class="ui grid center aligned">
                <div class="two wide column">@Html.DisplayFor(modelItem => item.Name)</div>
                <div class="three wide column">@Html.DisplayFor(modelItem => item.tbl_Country.Name)</div>
                <div class="ten wide column">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "ui green small button" })
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "ui orange small button" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "ui red small button" })
                </div>
            </div>
        }
        <div class="ui grid left aligned">
            @Html.ActionLink("Create New", "Create", null, new { @class = "ui fluid large brown inverted button" })
        </div>
    </div>
</div>

