﻿@model Repo.Models.City
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{

    @Html.LabelFor(m => m.Name)
    @Html.EditorFor(m => m.Name)
    <br />
    @Html.LabelFor(m => m.State_Id)
    @Html.DropDownListFor(m => m.State_Id, ViewBag.StateList as SelectList)
    <br />
    <input type="submit" value="Submit" />
}