﻿@model Repo.Models.Country
@{
    ViewBag.Title = "Create";
}

<div class="container">
    <div class="row header">
        <h1>Country</h1>
        <h3>Create a country</h3>
    </div>
    <div class="row body">
        @using (Html.BeginForm("Create", "Country", FormMethod.Post))
        {
            <div class="ui grid center aligned">
                <div class="two wide column">@Html.LabelFor(m => m.Name, "Country")</div>
                <div class="twelve wide column">@Html.TextBoxFor(m => m.Name)</div>
            </div>
            <div class="ui grid left aligned">
                <input type="submit" class="ui fluid large brown inverted button" value="Submit" />
            </div>
        }
    </div>
</div>
