﻿@model Repo.Models.Country
@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row header">
        <h1>Country</h1>
        <h3>Country details</h3>
    </div>
    <div class="row body">

        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="ui grid center aligned">
                <div class="two wide column">@Html.DisplayNameFor(model => model.Name)</div>
                <div class="twelve wide column">@Html.DisplayFor(model => model.Name)</div>
            </div>
            <div class="ui grid left aligned">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "ui fluid large brown inverted button" })@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "ui fluid large inverted brown button" })
            </div>
        }
    </div>
</div>
