﻿@model Repo.Models.Country
@{
    ViewBag.Title = "Edit";
}

<div class="container">
    <div class="row header">
        <h1>Country</h1>
        <h3>Create a country</h3>
    </div>
    <div class="row body">
                
        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <div class="ui grid center aligned">
                <div class="two wide column">@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })</div>
                <div class="twelve wide column">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="ui grid left aligned">
                @Html.ActionLink("Back to List", "Index", null, new { @class= "ui fluid large brown inverted button" })<input type="submit" class="ui fluid large brown inverted button" value="Submit" />
            </div>
        }
    </div>
</div>