﻿@model IEnumerable<Repo.Models.Country>
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row header">
        <h1>Country</h1>
        <h3>List of countries in database</h3>
    </div>
    <div class="row body">
        @foreach (var item in Model)
        {
            <div class="ui grid center aligned">
                <div class="two wide column">@Html.DisplayFor(modelItem => item.Name)</div>
                <div class="twelve wide column">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id },new { @class = "ui green button"})
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "ui orange button" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "ui red button" })</div>
            </div>
        }
        <div class="ui grid left aligned">
            @Html.ActionLink("Create New", "Create", null, new { @class = "ui fluid large brown inverted button" })
        </div>
    </div>
</div>
